@page
@model Ibas.MenuApp.Pages.ContactInfoModel


<div>
    <table>
        <tr>
            <th>Navn</th>
            <th>Email</th>
            <th>Telefon nr</th>
        </tr>
        <tr>
            <td>Karen Hansen</td>
            <td>Karen_hansen@gmail.com</td>
            <td>12345678</td>
        </tr>
        </table>
</div>



@{
}
